<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User list</title>
    <style>
        a{padding: 10px;}
        a:nth-child(2){border-right: 1px solid black;border-left: 1px solid black;}
    </style>
</head>
<body>
<div class="container">
    <a href="#">Home</a>
    <a href="/users/create">Add New User</a>
    <a href="/users/list">All User List</a>
</div>

</body>
</html>